- var d = '16'
- var pic = '/images/icons/file-picture.png'
- var music = '/images/icons/file-music.png'
- var doc = '/images/icons/file-text2.png'
case f.extension
    when '.jpg'
        img(src=pic, height=d, width=d)
    when '.png'
        img(src=pic, height=d, width=d)
    when '.mp3'
        img(src=music, height=d, width=d)
    when '.wav'
        img(src=music, height=d, width=d)
    when '.pdf'
        img(src=doc, height=d, width=d)
    when '.doc'
        img(src=doc, height=d, width=d)
    //- TODO: Add more extensions
