extends layout

block top
  link(rel='stylesheet', href='/stylesheets/less/sprites.css')

block content
  script(type='text/javascript', src='/javascripts/jquery.form.js')
  script(type='text/javascript', src='/javascripts/spin.min.js')
  script(type='text/javascript', src='/javascripts/fileicons.js')
  script(type='text/javascript', src='/javascripts/script.js')
  script(type='text/javascript', src='/javascripts/moment.js')
  input#currdir(type='text', value=navpath)
  #maincontent
    #waiting
    #dbar
      .col-md-4.fih Filename
      .col-md-2.fih File Size
      .col-md-2.fih Owner
      .col-md-2.fih Date Added
      .col-md-2.fih Shared
    #fman
      #flashmessage
        each m in messages
          span= m
      ul.list-group.filelist
        if homedir
          li.list-group-item#toparent
            span.col-md-12 ..
        li.list-group-item.fileobj(style='display: none;')
          span.col-md-4
          span.col-md-2 0
          span.col-md-2 -
          span.col-md-2 -
          span.col-md-2 -
        if files
          each f in files
            li.list-group-item(class=f.obj_type == 'd' ? 'dir' : 'fileobj')
              span.col-md-4.tfsect
                include modules/fileicons.jade
                span.filename= f.display_name
              span.col-md-2
                if f.obj_type == 'f'
                  | #{preciseRound(f.size / 1024)}KB
              span.col-md-2= f.owner.username
              span.col-md-2= moment(f.date_added).format('MM-DD-YYYY')
              span.col-md-2.shchk
                if f.shared == false
                  input.shchk.form-control(type='checkbox')
                else
                  input.shchk.form-control(type='checkbox', checked='true')
        else
          p There's nothing here!
    #statusbar
      span.col-md-10
        input#directory(type='text', value=navpath)
      span.col-md-1.sbbutton.sb-l#uplbtn
        img#upbtn(src='/images/icons/interface/upload.png')
      span.col-md-1.sbbutton.sb-xl
        img#mnbtn(src='/images/icons/interface/uparrow2.png')
    #menubar
      span.col-md-1.mbtn
        span.sprite.sprite-check
      span.col-md-1.mbtn#newdirectory
        span.sprite.sprite-folder
      span.col-md-1.mbtn
        span.sprite.sprite-move
      span.col-md-1.mbtn
        span.sprite.sprite-share
      span.col-md-1.mbtn
        span.sprite.sprite-comments
      span.col-md-1.mbtn
        span.sprite.sprite-transfer
      span.col-md-1.mbtn
        span.sprite.sprite-zip
      span.col-md-1.mbtn
        span.sprite.sprite-settings
      span.col-md-1.mbtn
        span.sprite.sprite-logout
  include modules/uploadform.jade
  include modules/properties.jade
  include modules/comments.jade
